<section class="auth-section">
  <div class="auth-container">
    <div class="auth-box">
      <h2>Welcome Back</h2>

      <form action="/auth/login" method="POST">
        <div class="input-group">
          <input type="email" name="email" placeholder="Email" required />
        </div>

        <div class="input-group">
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div style="width: 100%; text-align: left; margin-bottom: 15px;">
          <input type="checkbox" id="showPassword" onclick="togglePassword()" />
          Show Password <br /><br /> 
        </div>
         

        <button type="submit" class="btn">Login</button>
      </form>

      <div class="social-login">
        <p>Or continue with</p>
        <div class="social-buttons">
          <a href="/auth/google" class="google-btn">Google</a>
          <a href="/auth/facebook" class="facebook-btn">Facebook</a>
          <a href="/auth/linkedin" class="linkedin-btn">LinkedIn</a>
        </div>
      </div>

      <p class="note">
        Don’t have an account? <a href="/auth/signup">Sign Up</a>
      </p>
    </div>
  </div>
</section>

<script>
  function togglePassword() {
    const passwordField = document.querySelector('input[name="password"]');
    if (passwordField.type === "password") {
      passwordField.type = "text";
    } else {
      passwordField.type = "password";
    }
  }
</script>
